@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&family=Stalinist+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: roboto, sans-serif;
    font-weight: 400;
    background-color: #414141;
    color: #fafafa;
}

/* headings and logo */

#logo {
    font-family: 'Stalinist One', cursive;
    float: left;
    font-size: 200%;
    margin-left: 30px;
    text-transform: uppercase;
    color: #fafafa;
}

h2 {
    font-size: 125%;
    font-style: bold;
}

/* navigation links */

#menu {
    font-size: 150%;
    letter-spacing: 1px;
    float: right;
    display: flex;
}

#menu,
#logo {
    line-height: 100px;
}

#menu li {
    list-style-type: none;
    padding-right: 10px;
    margin-right: 30px;
    flex-direction: row-reverse;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: #ff4747;
}

.active {
    border-bottom: 2px solid #ff4747;
}

/* main content section */

#background_image {
    clear: both;
    height: 800px;
    width: 100%;
    background: url('../images/doosan-loading-shovel.jpg') no-repeat center center;
    background-size: contain;
    position: relative;
}

/* about us  */

#about-us {
    clear: both;
}

#about-us h2 {
    border-bottom: 1px solid #fafafa;
}

#about-us {
    margin-left: 30px;
    width: 25%;
    height: 20%;
    padding: 15px;
    background-color: rgba(64, 64, 64, 0.6);

    top: 30px;
    left: 125px;
    position: absolute;
}