@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&family=Stalinist+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: roboto, sans-serif;
    font-weight: 400;
    background-color: #414141;
    color: #fafafa;
}

/* headings and logo */

#logo {
    font-family: 'Stalinist One', cursive;
    float: left;
    font-size: 200%;
    margin-left: 30px;
    text-transform: uppercase;
    color: #fafafa;
}

h2 {
    font-size: 125%;
    font-style: bold;
}

/* navigation links */

#menu {
    font-size: 150%;
    letter-spacing: 1px;
    float: right;
    display: flex;
}

#menu,
#logo {
    line-height: 100px;
}

#menu li {
    list-style-type: none;
    padding-right: 10px;
    margin-right: 30px;
    flex-direction: row-reverse;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: #ff4747;
}

.active {
    border-bottom: 2px solid #ff4747;
}

/* main content section */

#background_image {
    clear: both;
    height: 800px;
    width: 100%;
    background: url('../images/doosan-loading-shovel.jpg') no-repeat center center;
    background-size: contain;
    position: relative;
}

/* about us  */

#about-us {
    clear: both;
}

#about-us h2 {
    border-bottom: 1px solid #fafafa;
}

#about-us {
    margin-left: 30px;
    width: 25%;
    height: 20%;
    padding: 15px;
    background-color: rgba(64, 64, 64, 0.6);

    top: 30px;
    left: 125px;
    position: absolute;
}

/* services section */

#services {
    margin-left: 30px;
    width: 25%;
    height: auto;
    padding: 20px;
    background-color: rgba(64, 64, 64, 0.6);

    bottom: 30px;
    right: 150px;
    position: absolute;
}

#equipment-list {
    padding-left: 25px;
}

#bundle {
    padding-top: 20px;
}

/* footer */

footer {
    height: 50px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    padding-top: 20px;
    color: #fafafa;
}

/* gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos>img {
    width: 100%;
}

/* booknow.html */

.form-section {
    clear: both;
    width: 95%;
    height: 900px;
    display: table;
    background: url(../images/loader-bucket-min.jpg) no-repeat top center;
    margin: 2.5%;
    background-size: contain;
    position: relative;
}

.form-section h2 {
    display: table-row;
}


.non-button input {
    display: table-cell;
}

.non-button label {
    display: table-cell;
}

.machinery-buttons {
    display: inline;
    line-height: 50%;
}

#booking-form-input {
    margin: 5%;
    padding: 5%;
    width: 35%;
    height: auto;
    float: left;
    color: #fafafa;
    background-color: rgba(64, 64, 64, 0.6);
    position: absolute;
    left: 5%;
    top: 10%;
}

.booking-input {
    display: block;
}

.text-input {
    margin-right: 0;
    padding-right: 20%;
}

#book-now {
    margin-top: 20px;
    width: 30%;
    height: 40%;
    border-radius: 20px;
    text-align: center;
    background-color: yellow;
    font-size: 110%;
    text-transform: uppercase;
    display: block;
}

#book-now:hover {
    color: yellow;
    background-color: #414141;
}

/* media queries */

/* for large screen sizes 1400px wide and down */

@media screen and (max-width: 1400px) {

    #booking-form-input {
        top: 5%;
    }
}

/* For large screen sizes from 1200px wide and down  */

@media screen and (max-width: 1200px) {

    #logo,
    #menu {
        line-height: 100px;
    }

    #background_image {
        width: 100%;
        background-size: contain;
        position: relative;
    }

    #background_image section {
        height: auto;
        width: 30%;
    }

    #about-us {
        margin-left: .5%;
    }

    #services {
        margin-right: .5%;
    }

    #photos {
        margin-top: 0;
        padding-top: 2.5%;
    }

    #booking-form-input {
        top: 2.5%;
    }

    #book-now {
        width: 50%;
    }
}

/* For medium-large screen sizes from 1008px wide and down  */

@media screen and (max-width: 1008px) {

    #logo {
        margin: 0;
    }

    #menu {
        clear: both;
        line-height: 0px;
        margin-top: 0;
        padding-top: 2.5%;
    }

    #photos {
        margin-top: 0;
        padding-top: 2.5%;
    }

    #form_section {
        background-position: 50% 20%;
    }

    #book-now {
        width: 50%;
    }
}

/* For medium screen sizes from 768px wide and down  */

@media screen and (max-width: 768px) {
    #logo {
        float: none;
        text-align: center;
        margin: auto;
    }

    #menu {
        line-height: 1%;
        float: none;
        margin-left: 25%;
    }

    #background_image {
        width: 100%;
        background-size: contain;
        position: relative;
    }

    #background_image section {
        clear: both;
        float: none;
        margin-left: 5px;
        padding: 10px;
        width: 90%;
        height: auto;
        position: 50%;
        left: 5%;
        right: 5%;
    }

    #photos {
        margin-top: 0;
        padding-top: 5%;
    }

    #form-section {
        background-position: 50% 5%;
    }

    #booking-form-input {
        width: 70%;
        top: 5%;
        left: 5%;
    }
}